<a class="item" ng-click="home()">
    <i class="home icon"></i>
</a>

<div class="item">
    {{data.info.name}} /
    <span class="id-text"> / {{data.info.id}}</span>
</div>
<a class="right item" ng-click="out()">
    <i class="sign out icon"></i>
</a>