<div class="item">
    <div class="ui toggle checkbox" id="detal">
        <input type="checkbox" name="newsletter">
        <label class="colorred">.</label>
    </div>
</div>
<!--<div class="ui toggle checkbox">-->
    <!--<input type="checkbox" name="public">-->
    <!--&lt;!&ndash;<label>Subscribe to weekly newsletter</label>&ndash;&gt;-->
<!--</div>-->

<a class="right item" ng-click="out()">
    <i class="sign out icon"></i>
</a>