.full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*overflow: auto;*/
}

body {
    background-color: #00001d;
    width: 100%;
    height: 100%;
}

.fullcenter {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.gtitile {
    position: absolute;
}

.centermenu {
    width: 360px;
    padding-bottom: 20px;
}

.clearbg {
    background-color: transparent !important;
}

#graphTitle {
    position: absolute;
    bottom: 5em;
    right: 3em;
    color: #545454;
    /*visibility: hidden;*/
}

.scroll-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    /*display: none;*/
    /*visibility: hidden;*/
}

.uicenter {
    align-items: center;
    justify-content: center;
}

.all-cards {
    align-items: center;
    justify-content: center;
    padding: 2em;
    padding-bottom: 5em;
}



/** {*/
    /*-vendor-animation-duration: 10s; !important;*/
    /*-vendor-animation-delay: 200s;*/
    /*!*-vendor-animation-iteration-count: infinite;*!*/
/*}*/

.card {
    animation-duration: .2s !important;
    animation-delay: 0s !important;
}

.artifact {
    animation-duration: .3s !important;
    animation-delay: 0s !important;
}

/*.extraart {*/
    /*vertical-align: middle !important;*/
/*}*/
.extracontent {
    line-height: 2.34em !important;
}
/*other*/

/*.colorred{*/
    /*color: #ededed !important;*/
/*}*/
/*.colorred:checked {*/
    /*color: #ededed !important;*/
/*}*/
#loading-bar .bar {
    background: #33ba3a;
    height: 4px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #cadd22;
    border-left-color: #cadd22;
    border-radius: 10px;
}

.id-text {
    color: #778195;
}
.build {
    color: #d1d1d1;
}