<div id="geopattern"></div>
<div class="fullcenter">
    <div class="intro bgcolor-4">
        <h2>Flexis Applications Host</h2>
	<span class="input input--kuro">
		<input class="input__field input__field--kuro" type="text" id="input-code"/>
		<label class="input__label input__label--kuro" for="input-code">
            <span class="input__label-content input__label-content--kuro">Invitation Code</span>
        </label>
        <i class="ui lock red icon" id="lock-icon"></i>
	</span>
    </div>
</div>