<div class="ui cards all-cards">
    <div class="ui active dimmer" ng-show="!data.apps">
        <div class="ui large text loader"></div>
    </div>

    <a ng-repeat="card in data.apps | orderBy:'sortDate':true"
       ng-click="select(card.id)"
       id="yourElement"
       class="ui {{card.color}} card center aligned animated fadeIn" id="all">
        <div class="content ">
            <div class="header">{{card.title}}
                <i class="right floated circular inverted
                {{card.color}} {{card.icon}}
                animated zoomIn
                icon"></i>
            </div>
            <div class="metaer animated ">
                <i>{{card.id}}</i>
            </div>
            <div class="description">
                <p ng-show="detal"
                   class="animated fadeIn">
                    {{card.text}}</p>
                <i ng-show="detal"  ng-repeat="art in card.artifacts"
                   class="big {{art.icon}} icon animated rotateIn"></i>
            </div>
        </div>
        <div class="extra content ">
            <span class="">{{card.version}}</span>
            <span class="right floated ">{{card.date}}</span>
        </div>
    </a>
</div>