@charset "UTF-8";

@font-face {
  font-family: "ie-gr";
  src:url("fonts/ie-gr.eot");
  src:url("fonts/ie-gr.eot?#iefix") format("embedded-opentype"),
    url("fonts/ie-gr.woff") format("woff"),
    url("fonts/ie-gr.ttf") format("truetype"),
    url("fonts/ie-gr.svg#ie-gr") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ie-gr" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-gr-"]:before,
[class*=" icon-gr-"]:before {
  font-family: "ie-gr" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gr-accounting:before {
  content: "a";
}
.icon-gr-atoncplogo:before {
  content: "b";
}
.icon-gr-business:before {
  content: "c";
}
.icon-gr-capital:before {
  content: "d";
}
.icon-gr-castle:before {
  content: "e";
}
.icon-gr-crutch:before {
  content: "f";
}
.icon-gr-dedmoroz:before {
  content: "g";
}
.icon-gr-deloitte:before {
  content: "h";
}
.icon-gr-director:before {
  content: "i";
}
.icon-gr-finance:before {
  content: "j";
}
.icon-gr-folders:before {
  content: "k";
}
.icon-gr-hr:before {
  content: "l";
}
.icon-gr-pencilmeasure:before {
  content: "m";
}
.icon-gr-plant:before {
  content: "n";
}
.icon-gr-quality:before {
  content: "o";
}
.icon-gr-reception:before {
  content: "p";
}
.icon-gr-star:before {
  content: "q";
}
.icon-gr-tool:before {
  content: "r";
}
.icon-gr-two:before {
  content: "s";
}
