@charset "UTF-8";

@font-face {
  font-family: "ie-op";
  src:url("fonts/ie-op.eot");
  src:url("fonts/ie-op.eot?#iefix") format("embedded-opentype"),
    url("fonts/ie-op.woff") format("woff"),
    url("fonts/ie-op.ttf") format("truetype"),
    url("fonts/ie-op.svg#ie-op") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "ie-op" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-op-"]:before,
[class*=" icon-op-"]:before {
  font-family: "ie-op" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-op-agreement:before {
  content: "a";
}
.icon-op-archive:before {
  content: "b";
}
.icon-op-armchair:before {
  content: "c";
}
.icon-op-askcash:before {
  content: "d";
}
.icon-op-binoculars:before {
  content: "e";
}
.icon-op-brokenhouse:before {
  content: "f";
}
.icon-op-bug:before {
  content: "g";
}
.icon-op-calendarevent:before {
  content: "h";
}
.icon-op-cash:before {
  content: "i";
}
.icon-op-changerequest:before {
  content: "j";
}
.icon-op-chemistry:before {
  content: "k";
}
.icon-op-chemistrybottle:before {
  content: "l";
}
.icon-op-connection:before {
  content: "m";
}
.icon-op-consult:before {
  content: "n";
}
.icon-op-contract:before {
  content: "o";
}
.icon-op-copyfile:before {
  content: "p";
}
.icon-op-credit:before {
  content: "q";
}
.icon-op-curriculum:before {
  content: "r";
}
.icon-op-design:before {
  content: "s";
}
.icon-op-dessert:before {
  content: "t";
}
.icon-op-dismiss:before {
  content: "u";
}
.icon-op-document:before {
  content: "v";
}
.icon-op-document2:before {
  content: "w";
}
.icon-op-duedelligence:before {
  content: "x";
}
.icon-op-evaluate:before {
  content: "y";
}
.icon-op-fingerup:before {
  content: "z";
}
.icon-op-flight:before {
  content: "A";
}
.icon-op-forward:before {
  content: "B";
}
.icon-op-graduate:before {
  content: "C";
}
.icon-op-hammer:before {
  content: "D";
}
.icon-op-hands:before {
  content: "E";
}
.icon-op-help:before {
  content: "F";
}
.icon-op-hire:before {
  content: "G";
}
.icon-op-insurance:before {
  content: "H";
}
.icon-op-light:before {
  content: "I";
}
.icon-op-lightning:before {
  content: "J";
}
.icon-op-luggageplastic:before {
  content: "K";
}
.icon-op-luggagewood:before {
  content: "L";
}
.icon-op-passport:before {
  content: "M";
}
.icon-op-password:before {
  content: "N";
}
.icon-op-payment:before {
  content: "O";
}
.icon-op-plunger:before {
  content: "P";
}
.icon-op-research:before {
  content: "Q";
}
.icon-op-roi:before {
  content: "R";
}
.icon-op-signdocument:before {
  content: "S";
}
.icon-op-takevacation:before {
  content: "T";
}
.icon-op-userbase:before {
  content: "U";
}
.icon-op-userblock:before {
  content: "V";
}
.icon-op-wheel:before {
  content: "W";
}
