<div class="ui cards all-cards">
    <div class="ui active dimmer" ng-show="!data.builds">
        <div class="ui large text loader"></div>
    </div>

    <div ng-repeat="build in data.builds | orderBy:'sortDate':true"
         class="ui {{data.info.color}} card center aligned animated fadeIn" id="all">
        <div class="content ">
            <div class="header">
                {{build.version}} <span class="right floated build">{{build.build}}</span>
            </div>
            <div class="metaer animated">
                <i>{{build.date}}</i>
            </div>
        </div>
        <div class="extra content animated fadeIn "
             ng-repeat="art in build.arts">
            <a href="{{art.url}}">
            <span class="extracontent">
                <i class="
                    {{art.color}}
                    {{art.icon}}
                    big icon"></i>
                {{art.title}}
            </a>
            </span>
            <button class="right floated circular ui icon button"
                    ng-click="copyURL(art)"
                    >
                <i class="share alternate black icon"></i>
            </button>
            <!--<span class="right floated ">2 days ago</span>-->
        </div>
    </div>
</div>