<div class="ui active dimmer" ng-show="dimmer">
    <div class="ui large text loader"></div>
</div>

<div class="inverted grey ui modal basic small ">
    <div class="ui grey icon header ">
        <i class="apple icon"></i>
        Установка ios приложения
    </div>
    <div class=" content ">
        <p>Для завершения установки, начиная с ios9, необходимо зайти в настройки и принять сертефикат.</p>
        <div class="ui grey list">
            <li class="grey"><i class="down triangle icon"></i> Настройки</li>
            <li class="grey"><i class="down triangle icon"></i> Основные</li>
            <li class="grey"><i class="down triangle icon"></i> Профиль (прокрутить вниз)</li>
            <li class="grey"><i class="down triangle icon"></i> Flexis ZAO</li>
            <li class="grey"><i class="right triangle icon"></i> Доверять</li>
        </div>
    </div>
    <div class="actions">
        <div class="ui green cancel inverted button">
            <i class="refresh icon"></i>
            {{filename}}
        </div>
    </div>
</div>
